
            <%_.each(items, function(item){%>
                <%var thumbnail = item.snippet.thumbnails.high.url;%>
                <%var videoName = item.snippet.title%>
                <%var videoDescription = item.snippet.description%>
                <%var videoRelease = moment(item.snippet.publishedAt).format('LLL');%>
                
                <li class="media item my-4" data-id="<%=item.id.videoId%>">
                    <img src="<%=thumbnail%>" class="img-thumbnail mr-3" alt="thumbnail" style="max-width: 200px;">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><%=videoName%></h5>
                        <%=videoDescription%>
                        <p class="card-text"><small class="text-muted"><%=videoRelease%></small></p>
                    </div>
                </li>
            <%})%>
    