<li class="media">
    <img src="/app/assets/img/avatar.jpg" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0 mb-1"><%=nameVideo%></h5>
        <%=description%>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <div class="col-sm-3 text-muted">
            <span class="thumbs-up"><i class="far fa-thumbs-up"></i> 50K&nbsp;</span>
            <span class="float-right thumbs-down"><i class="far fa-thumbs-down"></i> 476</span>
        </div>
    </div>
</li>
