<main class="mt-5" role="main"> 
    <div class="container shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-sm-8">
                    <div class="video-screen">
                        <%=videoScreen%>
                    </div>
                    <div class="video-details">
                        <%=videoDetails%>
                    </div>
                </div>
                <div class="col-sm-4 video-comments">
                    <%=videoComments%>
                </div>
            </div>
        </div>
    </div>
</main>
