<div class="card-body">
    <h5 class="card-title mt-3 chanal-avatar"><img class="rounded-circle" src="/app/assets/img/avatar.jpg">Matthew Encina</h5>
    <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
            <a class="nav-item nav-link" id="nav-sharing-tab" data-toggle="tab" href="#nav-sharing" role="tab" aria-controls="nav-sharing" aria-selected="false">Sharing</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
            <p class="mt-3">We all need a space where we can feel productive, focused, and creatively inspired. In this video I'll take you through my DIY process of updating my workspace, how I set up my MacBook Pro & PC, and give you a tour of my home office.</p>
        </div>
        <div class="tab-pane fade" id="nav-sharing" role="tabpanel" aria-labelledby="nav-sharing-tab">
            <div class="barLink mt-5">
                <input id="share-url" size="45" value="https://www.youtube.com/watch?v=JFqiSr9A-Go">
            </div>
        </div>
    </div>
</div>
