<div class="card">
    <div class="card-header"><%=videoTitle%></div>
    <div class="card-body p-0 m-0">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%=videoEmbed%>"></iframe>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-sm-6">
                <span class="views"><%=videoViews%> views</span>
                <p class="card-text"><small class="text-muted"><%=videoRelease%></small></p>    
            </div>
            <div class="offset-sm-1 col-sm-5 rateing">
                <span class="thumbs-up"><i class="far fa-thumbs-up"></i> <%=videoLike%> likes</span>
                <span class="float-right thumbs-down"><i class="far fa-thumbs-down"></i> <%=videoDislike%> dislikes</span>
            </div>
        </div>
    </div>
</div>
