
<div class="card">
        <div class="card-body">
            <h5 class="card-title text-center ">Comments</h5>
            <ul class="list-unstyled comments-avatar">
                <%_.each(items, function(item){%>
                    <%var avatar = item.snippet.topLevelComment.snippet.authorProfileImageUrl%>
                    <%var nameUser = item.snippet.topLevelComment.snippet.authorDisplayName%>
                    <%var comment = item.snippet.topLevelComment.snippet.textDisplay%>
                
                    <li class="media my-4">
                        <img class="rounded-circle" src="<%=avatar%>" class="mr-3" alt="avatar">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><%=nameUser%></h5>
                            <%=comment%>

                            <%$.get('https://www.googleapis.com/youtube/v3/comments?part=snippet&parentId=' + item.snippet.topLevelComment.id + '&key='+apiKey, null, null, 'json').always(function(response) {console.log(response)})%>
                            

                        </div>
                    </li>
                    

                <%})%>
            </ul>
        </div>
    </div>