 <div class="card">
    <div class="card-body">
        <h5 class="card-title text-center ">Comments</h5>
        <ul class="list-unstyled comments-avatar">
            <li class="media mt-3">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Mihai</h5>
                ceva ceva ceva comentariu.
            </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media my-4">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Andrei</h5>
                ceva ceva2.
                </div>
            </li>
            <li class="media">
                <img class="rounded-circle" src="/app/assets/img/avatar.jpg" class="mr-3" alt="avatar">
                <div class="media-body">
                <h5 class="mt-0 mb-1">Alex</h5>
                bubu.
                </div>
            </li>
        </ul>
    </div>
  </div>